@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary: #2F6B4F;
}
*{
    font-family:'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.landing{
    background-color: var(--primary);
    color: white;
    align-items: center;
    justify-content: center;
}

.button{
    display: inline-block;
    border: 0.2rem solid white;
    background-color: white;
    color: black;
    padding: 0.8rem 1.5rem;
    transition: all ease .2s;
}

.button:hover{
    opacity: 0.8;
}

.button img{
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    padding-top: 10px;
}

/* 
ARRUMAR O OVERLAY
.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0 0 0 0;
    background-color: var(--primary);
    color: var(--primary-foreground);
    padding: 2rem;
    font-size: 1.9rem;
    line-height: 2.5rem;
} */